<!DOCTYPE html>
<html>
    <head>
        <title>{{short_title}} ({{short_author}})</title>

        <style>
            ::-webkit-scrollbar {
            width: 6px; 
            background-color: rgba(0,0,0,0);
            -webkit-border-radius: 80px;
            }

            html {
                scroll-padding-top: 3em;
            }

            body {
                margin: 0;
                margin-top: 2.5em;
                margin-bottom: 2em;
                padding: 0;
                padding-right: 0.7em;
                font-size: 1.2vw;
                color: rgb(209, 209, 209);
                background-color: rgb(10, 17, 27);
            }

            table.section {
                border-collapse: collapse;
                border: 0;
                padding: 0;
                margin: 0;
            }

            table.section tr {
                border: 0;
                padding: 0;
                margin: 0;
            }

            table.section td.margin {
                width: 3.5em;
                border: 0;
                padding: 0.5em;
                padding-top: 0.7em;
                vertical-align: top;
                text-align: right;
            }

            table.section td.latin {
                width: 50em;
                background-color: rgb(0, 0, 0);
                border: 0;
                padding: 0.5em;
                vertical-align: top;
            }

            table.section td.english {
                width: 50em;
                background-color: rgb(13, 34, 53);
                border: 0;
                padding: 0.5em;
                vertical-align: top;
            }

            table.section td.title {
                background-color: black;
                border: 0;
                padding: 0.5em;
                padding-top: 0em;
            }

            table.section td.margin a {
                color: rgb(207, 207, 207);
                text-decoration: underline;
            }

            table.section td.margin a:hover {
                color: white;
            }

            table.section td.title div.author {
                float: right;
            }

            h1, h2 {
                background-color: transparent;
            }

            td.title h2 {
                margin-bottom: 0;
            }

            div.word {
                display: inline;
                background-color: transparent;
                line-height: 1.5em;
                padding: 0.1em;
                margin-left: -0.2em;
            }

            /*
				Naviagation
			*/
			div.navigation {
				padding: 0.6em;
				text-align: center
			}
			
			div.navigation a {
				color: rgb(207, 207, 207);
                text-decoration: underline;
				padding-left: 0.3em;
				padding-right: 0.3em;
			}
			
			div.navigation a:hover {
				color: white;
                text-decoration: underline;
			}

            div.navigation div.current-page {
                display: inline;
                background-color: #134061;
                padding-right: 0.4em;
                padding-left: 0.4em;
            }

            /*
                Top bar
            */
            .topbar {
                overflow: hidden;
                background-color: rgb(13, 24, 40);
                position: fixed;
                top: 0;
                width: 100%;
                padding: 0.4em;

                border-bottom: 0.1em;
                border-bottom-color: rgb(60, 87, 126);
                border-bottom-style: solid;
            }

            .topbar div.rainbow {
                background: linear-gradient(in hsl longer hue 45deg, red 0 0);
                text-shadow: 0.15em 0.15em 0.2em #000, -0.15em -0.15em 0.2em #000, 0.15em -0.15em 0.2em #000, -0.15em 0.15em 0.2em #000;
                float: right;
                margin-right: 1em;
                padding-left: 1em;
                padding-right: 1em;
            }

            .topbar div.word.sample {
                font-size: 0.9em;
                padding-left: 0.2em;
                padding-right: 0.2em;
            }

            .topbar div.word.title {
                margin-left: 0.5em;
            }

            /*
                Cases
            */
            div.nom { /* Nominative */
                background-color: rgb(4 57 4);
            }

            div.acc { /* Accusative */
                background-color: rgb(131 87 0);
                color: white;
            }

            div.gen { /* Genitive */
                background-color: rgb(112 0 0);
            }

            div.dat { /* Dative */
                background-color: rgb(26 41 141);
            }

            div.abl { /* Ablative */
                background-color: rgb(182 0 167);
                color: white;
            }

            div.voc { /* Vocative */
                background-color: rgb(237, 237, 145);
                color: black;
            }

            div.loc { /* Locative */
                background-color: rgb(144, 220, 219);
                color: black;
            }

            div.pas { /* Voice = Passive */
                text-decoration: underline;
                text-underline-offset: 0.2em;
            }

            div.dep { /* Voice = Deponent */
                text-decoration: underline;
                text-decoration-style: dotted;
                text-underline-offset: 0.2em;
            }

            div.grey {
                background-color: rgb(83 83 83);
            }
        </style>
    </head>

    <body>
        <div class="topbar">
            <div class="word sample nom">Nominative</div>
            <div class="word sample acc">Accusative</div>
            <div class="word sample dat">Dative</div>
            <div class="word sample abl">Ablative</div>
            <div class="word sample gen">Genitive</div>
            <div class="word sample voc">Vocative</div>
            <div class="word sample loc">Locative</div>
            <div class="word sample pas grey">Passive</div>
            <div class="word sample dep grey">Deponent</div>

            <div class="word title">{{short_title}} ({{short_author}})</div>

            <div class="word rainbow">Rainbow Latin Reader</div>
        </div>

        <div class="navigation">
            {{#each navigation}}
                {{#if is_current}}
                    <div class="current-page">{{section_from}} - {{section_to}}</div>
                {{else}}
                    <a href="{{../document_id}}_{{page}}.html">{{section_from}} - {{section_to}}</a>
                {{/if}}
            {{/each}}
        </div>

        <table class="section">
            <tr>
                <td class="margin">&nbsp;</td>

                <td class="title">
                    <h2>{{title}}</h2>
                    <div class="author"><i>Author: {{author}}</i></div>
                </td>

                <td class="english">&nbsp;</td>
            </tr>

        {{#each sections}}
            <tr id="s{{number}}">
                <td class="margin"><a href="#s{{number}}">{{number}}</a></td>

                <td class="latin">
                    {{#each latin}}{{#if is_plain}}{{value}}{{else}}<div class="{{class}}">{{value}}</div>{{/if}}{{/each}}
                </td>

                <td class="english">
                    {{english}}
                </td>
            </tr>
        {{/each}}
        </table>

        <div class="navigation">
            {{#each navigation}}
                {{#if is_current}}
                    <div class="current-page">{{section_from}} - {{section_to}}</div>
                {{else}}
                    <a href="{{../document_id}}_{{page}}.html">{{section_from}} - {{section_to}}</a>
                {{/if}}
            {{/each}}
        </div>
    </body>
</html>
